---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Coffee Gear">
  <main>
    <section>
      <h2>Coffee Gear</h2>
      <h3>Espresso</h3>
      <ul>
        <li>Profitec Pro 600</li>
        <li>Breville Smart Grinder</li>
      </ul>
      <h3>Filter</h3>
      <ul>
        <li>V60 Recipe</li>
      </ul>
      <h3>Turkish</h3>
      <ul>
        <li>Fakir</li>
      </ul>
     </section> 
  </main>
</Layout>
