---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Photography Gear | kilic.net">
  <main>
    <section>
      <h2>Cameras</h2>
      <ul>
        <li>DJI Osmo Pocket 3</li>
        <li>Nikon Z6</li>
      </ul>
    </section>
    <section>
      <h2>Drones</h2>
      <ul>
        <li>DJI Mini 4 Pro</li>
        <li>DJI Phantom 4 Advanced</li>
      </ul>
    </section>
  </main>
</Layout>
