---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Photography Gear">
  <main>
    <section>
      <h2>Photography Gear</h2>
      <h3>Cameras</h3>
      <ul>
        <li>DJI Osmo Pocket 3</li>
        <li>Nikon Z6</li>
      </ul>
    </section>
  </main>
</Layout>
