---
import { getCollection } from "astro:content";
const allPosts = await getCollection("post");
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Previously | kilic.net">
  Previously:
  <hr />
  {
    allPosts.map((post) => (
      <>
        <a href={"/post/" + post.slug}>{post.slug}</a>
        <br />
      </>
    ))
  }
</Layout>
