---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <section>
      Historical About section:
      <hr />
      <h2>About Serdar Kili&#x0E7;</h2>
      <p>
        <img
          src="https://cdn.kilic.net/images/serdar-kerem.jpg"
          width="240"
          height="180"
          alt="Serdar and Kerem"
          align="left"
          id="about-img"
        />Serdar was born in the last few days of 1975 in <a
          href="http://maps.google.com.au/maps?q=Sydney+Australia"
          >Sydney, Australia</a
        >. He is happily married to Selcen and in 2007 they welcomed Kerem Kiliç
        into this world.
      </p>
      <p>
        Hobbies? Absolutely! He has an interest in foreign films and cultures
        (especially French and Japanese). <a
          href="http://imdb.com/title/tt0211915/">Amélie</a
        > is his all time favourite movie, followed closely by Ronin. <a
          href="http://www.flickr.com/photos/serdar/">Photography</a
        >, Cycling, Foreign Policy, and of course, the World Wide Web take up
        his time as well.
      </p>
      <p>
        He's done some traveling too, to Tokyo (twice), Istanbul and Ankara
        (several times), Calgary, Auckland, and Paris (twice as well).
      </p>
      <p>
        He spends his time keeping up with the latest in technologies and
        developments regarding the Open Web. Ruby on Rails is his preferred web
        framework for development which also includes other open source tools
        and applications.
      </p>
      <h2>About KILI&#x0C7;.NET</h2>
      <p>
        The site is being hosted at <a href="http://www.mediatemple.net"
          >Media Temple</a
        > on their Grid Server, and published using <a
          href="http://www.sixapart.com/movabletype">MovableType</a
        > (v5.2). The pages are coded to be HTML 5 and utilise <a
          href="http://microformats.org">Microformats</a
        > such as <a href="http://microformats.org/wiki/hcard">hCard</a> and <a
          href="http://microformats.org/wiki/hAtom">hAtom</a
        >.
      </p>

      <h2>Disclaimer</h2>
      <p>
        The opinions expressed here are not necessarily those of my previous or
        currently employer(s).
      </p>
    </section>
  </main>
</Layout>
