---
import Layout from "../layouts/Layout.astro";
import BlogPost from "../components/BlogPost.astro";
import { getCollection } from "astro:content";
import { db, Comments, eq } from "astro:db";

const allPosts = await getCollection("post");

const resp = await fetch(Astro.url + "api/echo");

let message = "No server data";
if (resp.status === 200) {
  message = await resp.text();
}

const newPost: Comments[] = await db.select().from(Comments);
---

<Layout title="kilic.net">
  <main>
    <article>
      Blog post The coffee industry needs it's equivalent of the W3C to stop
      this mess: 9:45 PM · Mar 27, 2024
    </article>
    {newPost.length}
    {
      newPost?.map((comment) => {
        {
          return <article>{comment.title}</article>;
        }
      })
    }
    <ul>
      API server side: {message}
    </ul>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    font-size: 20px;
    line-height: 1.6;
  }
</style>
