---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import BlogPost from "../components/BlogPost.astro";
import { getCollection } from "astro:content";
const allPosts = await getCollection("post");

// const resp = await fetch(Astro.url + "api/echo");
// const message = await resp.text();
---

<Layout title="Welcome to Astro.">
   <main>
      <ul>
         Previously:
         <hr />
         {
            allPosts.map((post) => (
               <>
                  <BlogPost
                     url={`/post/${post.slug}/`}
                     title={post.data.title}
                  />
                  <br />
               </>
            ))
         }
      </ul>
   </main>
</Layout>

<style>
   main {
      margin: auto;
      padding: 1rem;
      width: 800px;
      max-width: calc(100% - 2rem);
      font-size: 20px;
      line-height: 1.6;
   }
</style>
