---
import Layout from "../layouts/Layout.astro";
import BlogPost from "../components/BlogPost.astro";
import { getCollection } from "astro:content";
const allPosts = await getCollection("post");

const resp = await fetch(Astro.url + "api/echo");
const message = await resp.text();

import { db, Comments, eq } from "astro:db";

const newPost: Comments[] = await db.select().from(Comments);
---

<Layout title="Welcome to Astro.">
  pre-comments
  {newPost.length}
  <main>
    {
      newPost?.map((comment) => {
        {
          return comment.title;
        }
      })
    }
    comments
    <ul>
      Previously:
      <hr />
      {
        allPosts.map((post) => (
          <>
            <BlogPost url={`/post/${post.slug}/`} title={post.data.title} />
            <br />
          </>
        ))
      }
      {message}
    </ul>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    font-size: 20px;
    line-height: 1.6;
  }
</style>
